html {
	font-size: 10px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
a:active, a:visited, a:focus  {
	outline: none;
	text-decoration: none;
	color: #FFF;
}
.main {
  
	position: relative;
	display:table;
	width: 100%;
	text-align: center;
	background: #fff url(../img/main-bg.jpg) center center no-repeat;
	color: #fff;
	height: 100vh;
}
.main-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.wrapper {
	display:table-cell;
	vertical-align:middle;
} 
.main h1  {
	margin-bottom: 1.4rem;
	text-transform: uppercase;
	font-size: 4.8rem;
	font-weight: 300;
}
.main p {
	font-size: 3rem;
	font-weight: 300;
}
.main-header {
	position: relative;
	z-index: 2;
}
.main-line {
	width: 200px;
	height: 1px;
	background: #fff;
	margin: 0 auto;
}
.main-down {
	position: absolute;
	color: #FFF;
	bottom: 2rem;
	display: inline-block;
	font-size: 2rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid transparent;
	line-height: 50px;
	left: 50%;
	margin-left: -25px;
	z-index: 4;
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
.main-down:hover {
 color: #FFF;
 border-color: #FFF;
}
/*Сексия с портфолио*/
.portfolio {
	padding: 10rem 0;
	text-align: center;
}
.section-header {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 3.6rem;
	margin-bottom: 5rem;
}
.portfolio img {
	width: 100%;
	max-width: 360px;
	-webkit-box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
	        box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
}
.portfolio a {
	display: block;
	margin: 3rem auto 10rem;
	color: #333;
	width: 17rem;
	border-bottom: 1px solid transparent;
}
.portfolio a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #333;
	color: #333;
}
/*Секция - подвал*/
.footer {
	background-color: #646464;
	color: #FFF;
	text-align: center;
	padding: 3rem;
}
.footer strong {
	font-weight: 300;
	font-size: 2.3rem;
}
.social-links {
	margin-top: 1rem;
} 
.social-links a {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	display: inline-block;
	color: #FFF;
	border: 1px solid #fff;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 2rem;
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
.social-links a:hover {
	background-color: #FFF;
	color: #646464;	
}
.offer-btn{
	display: block;
	width: 80%;
	max-width: 200px;
	margin: 1rem auto;
	border: 1px solid #fff;
	padding: 1rem 0;
	color: #FFF;
	-webkit-border-radius: 100px;
	        border-radius: 100px;
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
.offer-btn:hover {
	background-color: #FFF;
	color: #646464;
	text-decoration: none;
}
.modal img {
	width: 100%;
}
.modal-title{
	font-weight: 800;
	font-size: 2rem;
}
.close {
	background-color: transparent;
	border: none;
	font-size: 2.5rem;
	position: absolute;
	right: 2rem;
	top: 1rem;
}
.modal-btn {
	display: inline-block;
	color: #333;
	border: 1px solid #333;
	padding: 10px 20px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.modal-btn:hover {
	background-color: #333;
	color: #FFF;
	text-decoration: none;
}
